body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    cursor: url('/nig.png'), auto;
}

#root {
    width: 100%;
    height: 100vh;
}

.main-content {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.main-content.hidden {
    opacity: 0;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.frame.active {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    z-index: 10;
}

.click-me-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    z-index: 20;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.click-me-button.fall {
    transform: translateY(100vh);
    opacity: 0;
}

.back-button {
    position: absolute;
    top: 20px;
    right: -200px; /* Start off-screen */
    width: 150px;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.back-button.visible {
    right: 20px;
    opacity: 1;
}

.back-button.slide-to-left {
    right: calc(100% - 170px);
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 5;
    object-fit: cover;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-moz-media-controls {
    display: none !important;
}

video::-ms-media-controls {
    display: none !important;
}

video::-o-media-controls {
    display: none !important;
}

.video-container.active {
    opacity: 1;
}

.sequence-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
}

.sequence-image.visible {
    opacity: 1;
}

.go-down-button {
    position: absolute;
    bottom: 20px;
    right: -200px; /* Start off-screen to the right */
    width: 150px;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.go-down-button.visible {
    right: 170px;
    opacity: 1;
}

